﻿.RecLabelDiv {
    border-width: 2px;
    border: 1px #d1d9e5;
    padding: 10px;
    border-bottom-style: solid;
}

.RecordLabel {
    padding: 3px 7px 3px 7px;
    border-radius: 5px;
    font-size: 15px;
}

.GeneralDataDiv {
    margin-top: 5px;
    padding: 5px;
    background-color: #e3e3e3;
    color: #414141;
    font-weight: bold;
    font-size: 15px;
}

.TableLabels {
    text-align: right;
    width: 100px;
    display: block;
    vertical-align:central;
}

.DetailsTable {
    margin: 0px;
    padding: 30px 100% 60px 30px;
    background-color: #f5f5f5;
    border-bottom: 1px solid gray;
    padding-right: 100%;
}

.TableCellCheck {
    width: stretch;
}

.TableCellcontent {
    width: 1%;
    white-space: nowrap;
}

.ButtonsDiv {
    text-align: right;
    margin: 5px 5px 0px 0px;
}



.LongInput {
    width: 300px;
    height: 22px;
    float: left;
}

.ShortInput {
    width: 150px;
    height: 22px;
    float: left;
}

.InputControl {
    box-sizing: border-box;
    padding-left: 2px;
    border-width: 1px;
    border-color: #a5b7d3;
    border-style: solid;
}

    .InputControl:disabled {
        color: dimgray;
        padding-left: 5.7px;
        opacity: 1;
        background-color: #efefef;
        appearance: none;
    }

.TextBox:enabled {
    padding-left: 5.8px;
}


.ValidationLabel {
    padding: 8px;
    color: White;
    Width: 100%;
    Height: 20px;
    display: inline-block;
    font-weight: bold;
}
