﻿:root {
    --leftP1: linear-gradient(90deg, rgba(0,255,255,1) 47%, rgba(0,0,0,0) 47%);
    --leftP2: linear-gradient(90deg, rgba(255,0,255,1) 47%, rgba(0,0,0,0) 47%);
    --leftP3: linear-gradient(90deg, rgba(0,0,0,1) 47%, rgba(0,0,0,0) 47%);
    --center: linear-gradient(90deg, rgba(0,0,0,0) 47%, rgba(0,0,255,1) 47% 53%, rgba(0,0,0,0) 53%);
    --rightC1: linear-gradient(90deg, rgba(0,0,0,0), rgba(255,0,0,1) 53% 100%);
    --rightC2: linear-gradient(90deg, rgba(0,0,0,0), rgba(0,255,0,1) 53% 100%);
    --rightC3: linear-gradient(90deg, rgba(0,0,0,0), rgba(255,255,0,1) 53% 100%);
}

.table {
    margin: auto;
    margin-top: 0px;
    padding: 0px;
    width: 100%;
    border-collapse: collapse;
}

    .table th {
        font-weight: normal;
        background-color: #899aab;
        font-size: 12pt;
        text-align: center;
        vertical-align: middle;
        color: white;
        height: 30px;
    }

    .table th, .table td {
        padding: 5px;
        border: 2px solid white;
    }

    .table .rowhighlight:hover td {
        background-color: #fff990;
        cursor: pointer;
    }

    .table .Ended {
        background-color: #E9927B;
        cursor: pointer;
    }

        .table .Ended .RecName {
            text-decoration-line: underline;
        }

    .table .NotEnded {
        background-color: #fdf6e7;
        cursor: pointer;
    }

        .table .NotEnded .RecName {
            text-decoration-line: underline;
        }

    .table .NotStarted {
        background-color: #f0ffff;
        cursor: pointer;
    }

        .table .NotStarted .RecName {
            text-decoration-line: underline;
        }

.blue-border {
    stroke: blue;
}

.red-border {
    stroke: red;
}

.green-border {
    stroke: green;
}

.filter {
    font-size: 12px;
    padding-right: 5px;
    margin: 2px;
    height: 20px;
}

.DateColoumn {
    width: 100px;
}

.TextColumn {
    width: 400px;
}

.FilterTable {
    border: 2px solid white;
    border-collapse: collapse;
    padding: 5px;
    margin: 2px 2px 0px 2px;
    width: auto;
    background-color: #f4f5f6;
    margin-block-end: 0px;
    text-align: left;
}

.headers a {
    text-decoration: none;
    color: white;
}

.AddButton {
    border-color: lightslategray;
    border-radius: 0px;
    border-width: 2px;
    height: 16px;
    margin: 2px;
    border-style: solid;
    color: lightslategray;
    text-decoration: none;
    padding-right: 1px;
    float: right;
}

    .AddButton:hover {
        color: indianred;
        border-color: indianred;
    }

.recordCircle {
    height: 10px;
    width: 10px;
    border: 0.7px solid rgba(0,0,255,1);
    border-radius: 50%;
    float: left;
    margin: 4px;
}

.dx-header-row td {
    font-weight: normal;
    background-color: #899aab;
    font-size: 12pt;
    text-align: center;
    vertical-align: middle;
    color: white;
    height: 30px;
}